.transactionHistory {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #2eaa8f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}

.transactionHistory th,
.transactionHistory td {
    text-align: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.transactionHistory th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.transactionHistory tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.transactionHistory tbody tr:hover {
    background-color: #e0e0e0;
}